@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    --background: #121212;
    --surface: #1e1e1e;
    --on-surface-high: rgba(255, 255, 255, 0.87);
    --on-surface-medium: rgba(255, 255, 255, 0.60);
    --on-surface-disabled: rgba(255, 255, 255, 0.38);
    --outline: rgba(255,255,255,0.12);
    --primary: #bb86fc;
    --on-primary-high: rgba(0,0,0,1);
    --on-primary-medium: rgba(0,0,0,0.74);
    --on-primary-disabled: rgba(0,0,0,0.38);
    --secondary: #03dac5;
    background-color: #121212;
    color: var(--on-surface-high);
    font-family: 'Roboto', sans-serif;
}

nav { background-color: var(--surface); }
nav a {color: var(--on-surface-high); }
nav a:hover {color: var(--on-surface-medium); }
.social-links i {font-size:2rem;}

.container {background-color:var(--surface);border-radius:10px;margin-top:20px;padding:40px;}

.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 0fr 0fr; 
    gap: 10px 10px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."; 
}

.card {background-color: var(--surface); border-color: var(--on-primary-high); transition: 0.1s ease-in;}
.card:hover {border-color: var(--primary); cursor: pointer; transition: 0.1s ease-out;}