@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* 
    ,---.                         |    
    |  _.,---.,---.,---.,---.,---.|    
    |   ||---'|   ||---'|    ,---||    
    `---'`---'`   '`---'`    `---^`---'
*/
body {
    --background: #121212;
    --surface: #1e1e1e;
    --on-surface-high: rgba(255, 255, 255, 0.87);
    --on-surface-medium: rgba(255, 255, 255, 0.60);
    --on-surface-disabled: rgba(255, 255, 255, 0.38);
    --outline: rgba(255,255,255,0.12);
    --primary: #bb86fc;
    --on-primary-high: rgba(0,0,0,1);
    --on-primary-medium: rgba(0,0,0,0.74);
    --on-primary-disabled: rgba(0,0,0,0.38);
    --secondary: #03dac5;
    background-color: #121212;
    color: var(--on-surface-high);
    font-family: 'Roboto', sans-serif;
}

.primary:not(.callout) {background-color: var(--primary); color: var(--on-primary-high)}
.btn.primary:hover {color: var(--on-primary-medium)}
.secondary:not(.callout) {background-color: var(--secondary); color: var(--on-primary-high)}
.btn.secondary:hover {color: var(--on-primary-medium)}

.callout {
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border: 0px solid #e9ecef;
	border-left-width: .25rem;
	border-radius: .25rem;
}
.callout.primary {border-color: var(--primary)}
.callout.secondary {border-color: var(--secondary)}

nav { background-color: var(--surface); }
nav a {color: var(--on-surface-high); }
nav a:hover {color: var(--on-surface-medium); }
.social-links i {font-size:2rem;}

.container {background-color:var(--surface);border-radius:10px;margin-top:20px;padding:40px;}
textarea {color: var(--on-surface-medium);background-color: var(--surface); border-color: var(--outline); border-radius: 10px; transition: 0.1s ease-in-out;}
textarea:focus-visible {border-color:rgba(255, 255, 255, 0.60); outline: none; transition: 0.1s ease-in-out;}
code { color: var(--primary); background-color: var(--background); padding: 5px; border-radius: 5px;}

.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
      ". . . ."
      ". . . ."
      ". . . ."; 
}
.grid#datapacks {
    grid-template-rows: 1fr 0fr 0fr;
}

.card {background-color: var(--surface); border-color: var(--on-primary-high); transition: 0.1s ease-in;}
.card:hover {border-color: var(--primary); cursor: pointer; transition: 0.1s ease-out;}

/* 
    ,--.      |                        |         
    |   |,---.|--- ,---.,---.,---.,---.|__/ ,---.
    |   |,---||    ,---||   |,---||    |  \ `---.
    `--' `---^`---'`---^|---'`---^`---'`   ``---'
                        |                        
*/

.presentation {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "text picture"; 
    justify-items: center; 
    align-items: center; 
    width: 100%; 
}

#datapack-text {grid-area: "text";}
#datapack-picture {grid-area: "picture";}
#datapack-picture img {width: 100%;}